doctype html

html
  head
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
    link(rel='stylesheet',href='/stylesheets/index.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    title HackerHire
  body
    section#signup
      a.waves-effect.waves-light.btn-large LOGIN
      a.waves-effect.waves-light.btn-large SIGNUP
    div.container
      header
        h2 HackerHire
        p Helping you hire the best talent.

      section#preview
        img(src='/images/product_preview.png')

      section#why
        div.section-header
          h2 Why HackerHire?
        div.row
          div.col.s18.m3
            div.card.blue-grey
              div.card-content.white-text
                span.card-title Test Card
                p This is a simple card


        div.reason
          h3 Efficient
          p Waste less money, filter out the candidates early.
        div.reason
          h3 Easy
          p Single Click Room Setup.
        div.reason
          h3 Fraud Detection
          p Advanced anti-plagiarism and cheating detection.
        div.reason
          h3 Analytics
          p Customized Reports to help you hire only the best.


      section#clients
        div.section-header
          h2 Our past clients love us!
          img(src='/images/clients_preview.png')


    footer
      span Copyright &copy; 2016