doctype html

html
  head
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
    link(rel='stylesheet',href='/stylesheets/index.css')
    link(rel='stylesheet',href='/stylesheets/modal.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src='/scripts/script_1.js')
    title HackerHire
  body

    header(role='banner')
      section#signup.main-nav
          ul
            li
              a.cd-signin(href='#0') LOGIN
            li
              a.cd-signup(href='#0') SIGNUP


    div.cd-user-modal
      // this is the entire modal form, including the background
      div.cd-user-modal-container
        // this is the container wrapper
        ul.cd-switcher
          li
            a(href='#0') Sign in
          li
            a(href='#0') New account
        div#cd-login
          // log in form
          form.cd-form()
            p.fieldset
              span.cd-error-message Error message here
            p.fieldset
              label.image-replace.cd-email(for='signin-email') E-mail
              input#signin-email.full-width.has-padding.has-border(type='email', placeholder='E-mail')
              span.cd-error-message Error message here!
            p.fieldset
              label.image-replace.cd-password(for='signin-password') Password
              input#signin-password.full-width.has-padding.has-border(type='text', placeholder='Password')
              a.hide-password(href='#0') Hide
              span.cd-error-message Error message here!
            p.fieldset
              input#remember-me(type='checkbox', checked=false)
              label(for='remember-me') Remember me
            p.fieldset
              input.full-width(type='button', value='Login', name='Submit', onclick='login_submit_click()')
          p.cd-form-bottom-message
            a(href='#0') Forgot your password?
          // <a href="#0" class="cd-close-form">Close</a>
        // cd-login
        div#cd-signup
          // sign up form
          form.cd-form(method="post", action="signup")
            p.fieldset
              label.image-replace.cd-username(for='signup-username') Username
              input#signup-username.full-width.has-padding.has-border(type='text', placeholder='Username', name="signup-username")
              span.cd-error-message Error message here!
            p.fieldset
              label.image-replace.cd-email(for='signup-email') E-mail
              input#signup-email.full-width.has-padding.has-border(type='email', placeholder='E-mail', name="signup-email")
              span.cd-error-message Error message here!
            p.fieldset
              label.image-replace.cd-password(for='signup-password') Password
              input#signup-password.full-width.has-padding.has-border(type='text', placeholder='Password', name="signup-password")
              a.hide-password(href='#0') Hide
              span.cd-error-message Error message here!
            p.fieldset
              input#accept-terms(type='checkbox')
              label(for='accept-terms')
                | I agree to the 
                a(href='#0') Terms
            p.fieldset
              input.full-width.has-padding(type='button', value='Create account', onclick='signup_submit_click()')
          // <a href="#0" class="cd-close-form">Close</a>
        // cd-signup
        div#cd-reset-password
          // reset password form
          p.cd-form-message
            | Lost your password? Please enter your email address. You will receive a link to create a new password.
          form.cd-form
            p.fieldset
              label.image-replace.cd-email(for='reset-email') E-mail
              input#reset-email.full-width.has-padding.has-border(type='email', placeholder='E-mail')
              span.cd-error-message Error message here!
            p.fieldset
              input.full-width.has-padding(type='button', value='Reset password', onclick='reset_password_submit_click()')
          p.cd-form-bottom-message
            a(href='#0') Back to log-in
        // cd-reset-password
        a.cd-close-form(href='#0') Close

    div.container
      header
        h2 HackerHire
        p Helping you hire the best talent.

      section#preview.outer-section
        img(src='/images/product_preview.png')


      section#why.outer-section
        div.section-header
          h2 Why HackerHire?

        hr
        div.row
          div.col.s18.m4
            div.card.grey.darken-4
              div.card-content.white-text
                span.card-title Efficient
                p Waste less money, filter deserving candidates early in the process.
              div.card-action
                a(href='#') LEARN MORE
          div.col.s18.m4
            div.card.grey.darken-3
              div.card-content.white-text
                span.card-title Easy
                p Single click room setup.
              div.card-action
                a(href='#') LEARN MORE
          div.col.s18.m4
            div.card.grey.darken-4
              div.card-content.white-text
                span.card-title Fraud Detection
                p Advanced anti-plagiarism and cheating mechanisms.
              div.card-action
                a(href='#') LEARN MORE



      section#clients.outer-section
        div.section-header
          h2 Our clients love us!
        hr
        img(src='/images/clients_preview.png')


    footer.page-footer.grey.darken-4
      div.footer-copyright  
        div.container.white-text
          span Copyright &copy; 2016

  script.
    function eventFire(el, etype) {
      if (el.fireEvent) {
        el.fireEvent('on' + etype);
      } else {
        var evObj = document.createEvent('Events');
        evObj.initEvent(etype, true, false);
        el.dispatchEvent(evObj);
      }
    }
    eventFire(document.getElementsByClassName("cd-login"), 'click');
    document.getElementsByClassName('cd-login').click();
    $('.cd-login').click();