doctype html
html
    head
        link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
        link(rel='stylesheet',href='/stylesheets/index.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
        title HackerHire
    body
        div.video-call
            video.me(autoplay=true)
            video.he(autoplay=true)
        script(src='/javascripts/videocall.js')


