html
    head
        title Hackerhire : Reset Password
    body
        form(method='post')
            //- Not settting action, cause it to use same url
            input(type='text', name='password')
            input(type='submit', name='submit', value='Submit')

