html
    head
        title Hackerhire : Reset Password
    body
        p Error  : #{message}
        form(method='post')
            //- Not settting action, cause it to use same url
            label(for='cd-reset-password') Password
            input#cd-reset-password(type='password', name='reset-password')
            label(for='cd-reset-confirm-password') Confirm Password
            input#cd-reset-confirm-password(type='password', name='reset-confirm-password')
            input(type='submit', name='submit', value='Submit')

