doctype html
html
    head
        title Hackerhire
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/theme/monokai.css')
        link(href='https://www.gstatic.com/realtime/quickstart-styles.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
        link(rel='stylesheet',href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.2.custom.css', type='text/css', media='screen')
        link(type='text/css', href='/stylesheets/jquery.ui.chatbox.css', rel='stylesheet')
        link(rel='stylesheet',href='/stylesheets/room.css')
        link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css')    

        script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js')
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
        script(type="text/javascript", src="/scripts/call_script.js")
        script(src='/scripts/compiler.js')
        
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/clike/clike.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/addon/mode/loadmode.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/meta.js')
        script(src='https://code.jquery.com/ui/1.10.4/jquery-ui.js', integrity='sha256-tp8VZ4Y9dg702r7D6ynzSavKSwB9zjariSZ4Snurvmw=', crossorigin='anonymous')
        script(type='text/javascript', src='/scripts/jquery.ui.chatbox.js')
        script(src='https://apis.google.com/js/api.js')
        script(src='https://www.gstatic.com/realtime/realtime-client-utils.js')
 

        script(type='text/javascript').
            function initRoom(){

            compilerController.init();
            initCanvas();
            initRealTimeApi();
            
            }

        
        


    body(onload='initRoom();')
        nav
            div.nav-wrapper.light-blue.accent-4
                a.brand-logo(href='#')#main-logo HackerHire
                ul#nav-mobile.right.hide-on-med-and-down
                    li#invite
                        a.waves-effect.waves-light.btn
                            span Invite


        div.row.outer-container
            section#left-col.col.s3.inner-container
                div.question-container
                    p.
                        Given a sorted list with an unsorted number ee in the rightmost cell, can you write some simple code to insert ee into the array so that it remains sorted?
                    p.
                        Print the array every time a value is shifted in the array until the array is fully sorted. The goal of this challenge is to follow the correct order of insertion sort.
                textarea#inputbox.iobox(placeholder='Input')
                textarea#outputbox.iobox(readonly='',placeholder='output')


                div#codepanel
                    span.input-field.col.s6 
                        select#languageMenu(onchange='compilerController.changeMode()')
                            option(value='0') plaintext
                            option(value='1')  C 
                            option(value='2')  C++ 
                            option(value='3')  Java 
                            option(value='5')  Python 2 
                            option(value='6')  Perl 
                            option(value='7')  PHP 
                            option(value='8')  Ruby 
                            option(value='9')  C# 
                            option(value='20')  Javascript 
                            label Materialize Select
                    span.input-field.col.s6.right-align
                        button.waves-effect.light-blue.accent-4.btn#compileButton(type='button', onclick='compilerController.runCode()') RUN >


            section#mid-col.col.s6.inner-container
                div#swapperDiv.right-align
                    div#canvasPanel
                        div#clearBoard.btn Clear
                        div#setModeDraw.btn Draw
                        div#setModeErase.btn Erase
                        div#downloadImage.btn Download

                    button#swapButton.waves-effect.light-blue.accent-4.btn.material-icons aspect_ratio

                form.myeditor#codeboard
                    textarea#codeEditor 

                div#canvasDiv
                


            section#right-col.col.s3.inner-container
                div#chatter
                    div.row#video-container
                        video#their-video(autoplay=true)
                        video#my-video(autoplay=true, muted=true)


                    div.row#steps
                        div#step1
                            p Please click allow on top of the screen so we can access your webcam and microphone for calls
                            div#step1-error
                                p Failed to access the webcam and microphone. Make sure to ru this demo on an http server and click allow when asked for permission by browser
                                a.pure-button.pure-button-error#step1-retry(href="#") Try again
                        div#step2
                            p ID: 
                                span#my-id ...
                            div.pure-form
                                input#callto-id(type="text", placeholder="Call userid ...")
                                a.pure-button.pure-button-success#make-call(href="#") Call
                        div#step3
                            p Currently in call with
                                span#their-id ...
                            p
                                a.pure-button.pure-button-error#end-call(href="#") End call

                div#chat_div


    script(src='/scripts/swapper.js')




