@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

// VARIABLES

// Colors
darker-grey = #111
dark-grey = #333
grey = #555
light-grey = #999
lightest-grey = #efefef

// Typography
main-coding = 'Source Code Pro'
main-serif = ''

#start-container
	height 20em
	width 100%
	text-align center
	background url('../images/pattern.png')
	background-size cover