@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
#start-container {
  height: 20em;
  width: 100%;
  text-align: center;
  background: url("../images/pattern.png");
  background-size: cover;
}
