@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
.section-header h2 {
  font-family: 'Source Code Pro';
  font-size: 2em;
}
.outer-section {
  margin-bottom: 5em;
}
header {
  text-align: center;
}
header h2 {
  font-family: 'Source Code Pro';
  font-weight: bold;
}
header p {
  font-style: italic;
  font-size: 2em;
}
#signup {
  text-align: right;
a
li
}
#preview img {
  width: 100%;
}
#clients img {
  width: 100%;
}
