@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700");
html,
body {
  height: 100%;
}
nav {
  margin-bottom: 0;
}
.brand-logo {
  font-family: 'Source Code Pro';
  margin-left: 0.25em;
}
.outer-container {
  height: 88%;
  bottom: 0;
  margin-bottom: 0;
}
.inner-container {
  bottom: 0;
  height: 100%;
}
#left-col {
  background-color: #efefef;
}
#left-col #main-title {
  font-family: 'Source Code Pro';
  font-weight: bold;
}
#mid-col {
  padding: 0;
}
#mid-col #canvasDiv {
  width: 100%;
}
#mid-col #canvas {
  box-sizing: border-box;
}
#canvasPanel {
  display: inline;
}
#canvasPanel div {
  display: inline;
  background: inherit;
}
#swapperDiv {
  width: 100%;
  background-color: #272822;
}
#swapButton {
  margin: 0.5em;
}
#codepanel {
  line-height: 2em;
}
#codepanel select {
  display: inline;
  margin: 0;
  padding: 0;
}
#codeEditor {
  display: block;
}
.CodeMirror {
  height: 82.3vh;
}
.iobox {
  background-color: #efefef;
  color: #111;
}
#right-col {
  background-color: #efefef;
}
#chatter {
  width: 100%;
}
#video-container {
  margin-top: 1em;
  width: 100%;
  position: relative;
  clear: both;
}
#video-container #their-video {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #999;
}
#video-container #my-video {
  position: absolute;
  top: 0;
  width: 25%;
  background-color: #999;
}
