@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

// VARIABLES

// Colors
darker-grey = #111
dark-grey = #333
grey = #555
light-grey = #999
lightest-grey = #efefef
full-white = #ffffff

// Typography
main-coding = 'Source Code Pro'
main-serif = ''

html, body
	height 100%
	
nav
	margin-bottom 0

.brand-logo
	font-family main-coding
	margin-left 0.25em

.outer-container
	height 88%
	bottom 0
	margin-bottom 0

.inner-container
	bottom 0
	height 100%

#left-col
	background-color lightest-grey
	#main-title
		font-family main-coding
		font-weight bold

	
#mid-col
	padding 0
	
	#canvasDiv
		width 100%
	#canvas
		box-sizing border-box
	
#canvasPanel
	display inline
	div
		display inline
		background inherit
// SWAPPER 

#swapperDiv
	width 100%
	background-color #272822

#swapButton
	margin 0.5em
	

// CODE MIRROR

#codepanel
	select
		display inline
		margin 0
		padding 0
	line-height 2em
	
#codeEditor
	display block
		
.CodeMirror
	height 82.3vh
	// height 
	
.iobox
	background-color lightest-grey
	color darker-grey



#right-col
	background-color lightest-grey

#chatter
	width 100%

#video-container
	margin-top 1em
	width 100%
	position relative
	clear both
	#their-video
		position absolute
		width 100%
		top 0
		background-color light-grey
	#my-video
		position absolute
		top 0
		width 25%
		background-color light-grey
	
